.containerText {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-family: PT Sans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  text-shadow: 2px 2px 0px rgba(174, 174, 174, 0.2);
}

/*body {*/
/*background: url('FIAQC_default_image.jpeg') no-repeat center center fixed!important;*/
/*-webkit-background-size: cover!important;*/
/*-moz-background-size: cover!important;*/
/*-o-background-size: cover!important;*/
/*background-size: cover!important;*/
/*}*/

.item.showAns {
  -webkit-box-shadow: 0 0 20px blue;
  -moz-box-shadow: 0 0 20px blue;
  box-shadow: 0 0 20px blue;
}

.item.showAns {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% {
    background-color: blue;
    -webkit-box-shadow: 0 0 3px blue;
  }
  50% {
    background-color: blue;
    -webkit-box-shadow: 0 0 40px blue;
  }
  100% {
    background-color: blue;
    -webkit-box-shadow: 0 0 3px blue;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: blue;
    -webkit-box-shadow: 0 0 3px blue;
  }
  50% {
    background-color: blue;
    -webkit-box-shadow: 0 0 40px blue;
  }
  100% {
    background-color: blue;
    -webkit-box-shadow: 0 0 3px blue;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: blue;
    -webkit-box-shadow: 0 0 3px blue;
  }
  50% {
    background-color: blue;
    -webkit-box-shadow: 0 0 40px blue;
  }
  100% {
    background-color: blue;
    -webkit-box-shadow: 0 0 3px blue;
  }
}

@keyframes glowing {
  0% {
    background-color: blue;
    -webkit-box-shadow: 0 0 3px blue;
  }
  50% {
    background-color: blue;
    -webkit-box-shadow: 0 0 40px blue;
  }
  100% {
    background-color: blue;
    -webkit-box-shadow: 0 0 3px blue;
  }
}

.redLargerText {
  font-size: xx-large;
  color: red;
}

.textColor {
  color: #ffffff;
}

.first10 {
  background: #eee;
  height: auto;
}

.totalSldebarTop10{
  width: 370px;
  background: #eee;
  padding: 2px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  position: relative;
  top: 0;
  bottom: 0;
}

.containerTextTop10 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: PT Sans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  text-shadow: 2px 2px 0px rgba(174, 174, 174, 0.2);
}


.totalSidebar {
  width: 576px;
  background: #eee;
  padding: 5px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  position: relative;
  top: 0;
  bottom: 0;
}

.questionTop10{
  color: blue;
  width: 547px;
  font-size: 1.2rem;
  padding: 0 0 0 2px;
}

.sidebar {
  width: 576px;
  background: #eee;
  padding: 2px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  position: relative;
  top: 0;
  bottom: 0;
}

.item {
  background: #000000;
  border-radius: 5px;
  width: 100%;
  opacity: 0;
  margin-bottom: 10px;
  transform-origin-y: 0%;
  color: white;
}

.item:nth-child(1) {
  background: #f69a9a;
}

.item:nth-child(2) {
  background: #83ae9b;
}

.item:nth-child(3) {
  background: #ef4566;
}

.item:nth-child(4) {
  background: #f9cdae;
}

.item:nth-child(5) {
  background: #c8c8a9;
}
.buttonsStyle{
  padding-top: 20px;
}
